/* Zona de Benefícios */
.beneficios {
    background-color: #ffffff;
    padding: 20px 5px;
    text-align: center;
    transition: all 0.3s ease;
    margin-top: 10px;
}
  
.benefiDisp {
    font-size: 2rem;
    color: black;
    margin-bottom: 30px;
}
  
.carousel-container-benefi {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}
  
.carousel-benefi {
    transition: transform 0.5s ease;
    display: flex;
}
  
.carousel-item-benefi {
    flex: 1 0 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: opacity 0.5s ease;
}
  
.carousel-item-benefi h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #229799;
}
  
.carousel-item-benefi p {
    font-size: 1rem;
    color: black;
}
  
.controls-benefi {
    margin-top: 20px;
}
  
.controls-benefi .control {
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    background-color: #229799;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.controls-benefi .control:hover {
    background-color: #48cfcb;
}
  
.indicators-benefi {
    margin-top: 20px;
}
  
.indicators-benefi .indicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.indicators-benefi .indicator.active-benefi {
    background-color: #229799;
}
  